.header{
  &-top{
    height:60px;
    line-height: 60px;
    padding:0 20px;
    text-align: right;
    a{
      margin-left: 40px;
    }
  }
  .breadcrumb{
    border-top:1px solid fuchsia;
    height:40px;
    line-height: 40px;
    &-title{
      text-align: center;
    }
    .weather{
      text-align: right;
      padding-right: 40px;
      &-img{
        height:22px;
        vertical-align: center;
        margin-right: 10px;
      }
      .date{
        margin-right:20px;
      }
      &-txt{
        font-weight: 700;
      }
    }
  }
}