.header{
  background:#fff;
  &-top{
    height:60px;
    line-height: 60px;
    padding:0 20px;
    text-align: right;
    a{
      margin-left: 40px;
    }
  }
  .breadcrumb{
    border-top:1px solid fuchsia;
    height:40px;
    line-height: 40px;
    &-title{
      text-align: center;
      font-size:16px;
      &::after{
        position: absolute;
        content: "";
        left:45%;
        top:99%;
        border-top:9px solid #fff;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }
    }
    .weather{
      text-align: right;
      padding-right: 40px;
      &-img{
        height:22px;
        vertical-align: center;
        margin-right: 10px;
      }
      .date{
        margin-right:20px;
      }
      &-txt{
        font-weight: 700;
      }
    }
  }
}