.container .nav-left {
  height: calc(100vh);
  background: #001529;
}

.container .main {
  height: calc(100vh);
  background: #f1f3f5;
}

.container .content {
  position: relative;
  padding: 20px;
}
