.container {
  .nav-left{
    height: calc(100vh);
    background: #001529;
  }
  .main{
    height: calc(100vh);
    background: #f1f3f5;
    overflow: scroll;
  }
  .content{
    position: relative;
    padding:20px;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}